html{
    font-family: monospace;
    background-color: white; 
    color: black;
}

body{
    margin:0;
}

div{
    box-sizing: border-box;
}

img{
    height: 100%;
    width: auto;
}

#titlebar{
    height: 50px;
    border-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title{
    font-size:xx-large;
    font-weight: bolder;
}

#flex{
    display: flex;
    height: calc(100vh - 50px);
}

#sidebar{
    width:30%;
    border-color: blue;
    padding: 2%;
}

#input_speech{
    width: 100%;
    height: 3%;
}

.button{}

#main{
    position: relative;
    width:70%;
    border-color: green;

}

#picture_cow{
    width: 100%;
    height: auto;
}

.eye{
    position: absolute;
    width: 50px; /* Größe des Auges anpassen */
    height: 50px;
    background-color: white;
    border-radius: 50%; /* Kreisform */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid black; /* Schwarzer Rand */
}

.pupil{
    width: 20px; /* Größe der Pupille */
    height: 20px;
    background-color: black;
    border-radius: 50%; /* Kreisform */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
}

#speech_bubble {
    /* speechbubble from https://codepen.io/rikschennink/pen/mjywQb */
    position: absolute;
    max-width: 30em;
    background-color: #fff;
    padding: 1.125em 1.5em;
    font-size: 1.25em;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}
#speech_bubble::before {
    /* speechbubble from https://codepen.io/rikschennink/pen/mjywQb */
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    left: 1.5em;
    border: .75rem solid transparent;
    border-top: none;
    border-bottom-color: #fff;
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

.container{
    border-style: dotted;
    border-width: 1px;
}